<!-- Contenu de la page -->
<div class="content doctor-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-3 theiaStickySidebar">
                <!-- Barre latérale du profil -->
                <div class="profile-sidebar doctor-sidebar profile-sidebar-new">
                    <div class="widget-profile pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="doctor-profile.html" class="booking-doc-img">
                                <img src="assets2/img/doctors-dashboard/doctor-profile-img.jpg" alt="Image de l'utilisateur">
                            </a>
                            <div class="profile-det-info">
                                <h3><a href="doctor-profile.html">Dr Edalin Hendry</a></h3>
                                <div class="patient-details">
                                    <h5 class="mb-0">BDS, MDS - Chirurgie orale et maxillo-faciale</h5>
                                </div>
                                <span class="badge doctor-role-badge"><i class="fa-solid fa-circle"></i>Dentiste</span>
                            </div>
                        </div>
                    </div>
                    <div class="doctor-available-head">
                        <div class="input-block input-block-new">
                            <label class="form-label">Disponibilité <span class="text-danger">*</span></label>
                            <select class="select form-control">
                                <option>Je suis disponible maintenant</option>
                                <option>Non disponible</option>
                            </select>
                        </div>
                    </div>
                    <div class="dashboard-widget">
                        <nav class="dashboard-menu">
                            <ul>
                                <li>
                                    <a href="doctor-dashboard.html">
                                        <i class="fa-solid fa-shapes"></i>
                                        <span>Tableau de bord</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="doctor-request.html">
                                        <i class="fa-solid fa-calendar-check"></i>
                                        <span>Demandes</span>
                                        <small class="unread-msg">2</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="appointments.html">
                                        <i class="fa-solid fa-calendar-days"></i>
                                        <span>Rendez-vous</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="available-timings.html">
                                        <i class="fa-solid fa-calendar-day"></i>
                                        <span>Horaires disponibles</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="my-patients.html">
                                        <i class="fa-solid fa-user-injured"></i>
                                        <span>Mes patients</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="doctor-specialities.html">
                                        <i class="fa-solid fa-clock"></i>
                                        <span>Spécialités et services</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="reviews.html">
                                        <i class="fas fa-star"></i>
                                        <span>Avis</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="accounts.html">
                                        <i class="fa-solid fa-file-contract"></i>
                                        <span>Comptes</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="invoices.html">
                                        <i class="fa-solid fa-file-lines"></i>
                                        <span>Factures</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="doctor-payment.html">
                                        <i class="fa-solid fa-money-bill-1"></i>
                                        <span>Paramètres de paiement</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="chat-doctor.html">
                                        <i class="fa-solid fa-comments"></i>
                                        <span>Message</span>
                                        <small class="unread-msg">7</small>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="doctor-profile-settings.html">
                                        <i class="fa-solid fa-user-pen"></i>
                                        <span>Paramètres du profil</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="social-media.html">
                                        <i class="fa-solid fa-shield-halved"></i>
                                        <span>Médias sociaux</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="doctor-change-password.html">
                                        <i class="fa-solid fa-key"></i>
                                        <span>Changer le mot de passe</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                        <i class="fa-solid fa-calendar-check"></i>
                                        <span>Déconnexion</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /Barre latérale du profil -->
            </div>
            <div class="col-lg-8 col-xl-9">
                <!-- Paramètres du profil -->
                <div class="dashboard-header">
                    <h3>Paramètres du profil</h3>
                </div>
                <!-- Liste des paramètres -->
                <div class="setting-tab">
                    <div class="appointment-tabs">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="details-de-base.html">Détails de base</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="heures-douverture.html">Heures d'ouverture</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="images.html">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="carte.html">Carte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faq.html">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="reservations-autorisees.html">Settings Activité</a>
                            </li>
                
                        </ul>
                    </div>
                </div>
                <!-- /Liste des paramètres -->
                <div class="setting-title">
                    <h5>Informations sur l'activité</h5>
                </div>
                <form (ngSubmit)="onSubmit()">
                    <div class="setting-card">
                        <div class="change-avatar img-upload">
                            <div class="profile-img">
                                <i class="fa-solid fa-file-image" *ngIf="!imageUrl"></i>
                                <img *ngIf="imageUrl" [src]="imageUrl" alt="Activity Logo">
                            </div>
                            <div class="upload-img">
                                <h5>Logo de l'activité</h5>
                                <div class="imgs-load d-flex align-items-center">
                                    <div class="change-photo">
                                        Télécharger une nouvelle
                                        <input type="file" class="upload" (change)="onImageUpload($event)">
                                    </div>
                                    <a href="#" class="upload-remove" (click)="imageUrl = null">Supprimer</a>
                                </div>
                                <p class="form-text">Votre image doit être inférieure à 4 Mo, formats acceptés : jpg, png, svg</p>
                            </div>
                        </div>
                    </div>
                    <div class="setting-card">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-wrap">
                                    <label class="col-form-label">Titre <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="activity.name" name="name">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-wrap">
                                    <label class="col-form-label">Description <span class="text-danger">*</span></label>
                                    <textarea rows="500" style="min-height: none;" class="form-control" [(ngModel)]="activity.description" name="description"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label">Catégorie <span class="text-danger">*</span></label>
                                    <select class="form-control" [(ngModel)]="activity.category_id" name="category_id">
                                        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label">Ville <span class="text-danger">*</span></label>
                                    <select class="form-control" [(ngModel)]="activity.city_id" name="city_id">
                                        <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label">Adresse <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" [(ngModel)]="activity.address" name="address">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label">Capacité <span class="text-danger">*</span></label>
                                    <input type="number" class="form-control" [(ngModel)]="activity.capacity" name="capacity">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn text-end">
                        <a href="#" class="btn btn-gray">Annuler</a>
                        <button type="submit" class="btn btn-primary prime-btn">Enregistrer les modifications</button>
                    </div>
                </form>
                <!-- /Paramètres du profil -->
            </div>
        </div>
    </div>
</div>
<!-- /Contenu de la page -->




