<app-header></app-header>
<div class="breadcumb-wrapper background-image" style="opacity: 0.65; padding: 70px 0 !important; background-image: url('assets/img/bg/bgMarrakech.jpg');">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title" style="font-family: 'Quicksand', sans-serif;">Finalisation de la réservation</h1>
            <ul class="breadcumb-menu">
                <li><a href="" style="font-family: 'Quicksand', sans-serif;">Accueil</a></li>
                <li style="font-family: 'Quicksand', sans-serif;">Finalisation de la réservation</li>
            </ul>
        </div>
    </div>
</div>
<section class="space bg-smoke" >
    <div class="container">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-lg-6">
                <div class="error-img">
                    <img src="assets/img/theme-img/error.svg" alt="404 image">
                </div>
            </div>
            <div class="col-lg-6" style="
            font-family: 'Quicksand';
        ">
                <div class="error-content" style="
                font-family: 'Quicksand';
            ">
                    <h2 class="error-title" style="
                    font-family: 'Quicksand';
                ">Réservation en cours</h2>
                    <h4 class="error-subtitle" style="
                    font-family: 'Quicksand';
                ">Votre réservation est en cours de traitement</h4>
                    <p class="error-text" style="
                    font-family: 'Quicksand';
                ">Vous recevrez une réponse sur votre boîte mail ou sur votre compte.</p>
                    <a href="/" class="th-btn style3" style="
                    font-family: 'Quicksand';
                ">
                        <img src="assets/img/icon/right-arrow2.svg" alt="">Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

<p-toast></p-toast>