<app-header></app-header>


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">


<!-- ...existing code... -->

<div class="breadcumb-wrapper background-image" style="opacity: 0.65; padding: 20px 0 !important; background-image: url('assets/img/bg/bgMarrakech.jpg');">
    <div class="container" >
        <div class="breadcumb-content">
            <h1 class="breadcumb-title" style="font-family: 'Quicksand', sans-serif;;">{{activity!.name}}</h1>
            <ul class="breadcumb-menu">
            <li><a href="home-travel.html" style="font-family: 'Quicksand', sans-serif;;">Accueil</a></li>
            <li style="font-family: 'Quicksand', sans-serif;;">{{activity!.name}}</li>
            </ul>
        </div>
        </div>
    </div>
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-lg-7">
                    <div class="tour-page-single">
                        <div class="slider-area tour-slider1">
                            <div class="swiper th-slider mb-4" id="tourSlider4"
                                >
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="tour-slider-img"><img [src]="activity!.logo" [alt]="activity!.name" style="
                                            height: 500px;
                                            object-fit: cover;     WIDTH: -webkit-fill-available;
                                        "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-content">
                            <div class="page-meta mb-45">
                                <a class="page-tag" [ngClass]="{'bg-red': !isActivityOpen(activity.hours), 'bg-green': isActivityOpen(activity.hours)}" >{{ isActivityOpen(activity.hours) ? 'Ouvert' : 'Fermé' }}</a>
                                <span class="ratting">
                                    <i class="fa-sharp fa-solid fa-star"></i>
                                    <span>{{ getAverageRating(activity.reviews) }}</span>
                                </span>

                            </div>
                            <h2 class="box-title" style="font-family: 'Quicksand', sans-serif;margin-bottom: 0.5rem;">{{activity!.name}}</h2>
                            <div class="blog-meta"><a class="author" href="blog.html"><i class="fa-light fa-user"></i>par
                                {{activity!.name}}</a> <a href="blog.html"><i class="fa-regular fa-calendar"></i>{{ activity.created_at | date:'dd MMMM, yyyy':'':'fr' }}</a> <a href="blog-details.html"><img src="assets/img/icon/map.svg" alt="">{{activity.address}}</a></div>
  
                            <p class="box-text mb-30 mt-10">{{ activity.description}}</p>

<!--                                 <div class="checklist mb-50">
                                <ul>
                                    <li>Visit most popular location of Maldives</li>
                                    <li>Buffet Breakfast for all traveler with good quality.</li>
                                    <li>Expert guide always guide you and give informations.</li>
                                    <li>Best Hotel for all also great food.</li>
                                    <li>Helping all traveler for Money Exchange.</li>
                                    <li>Buffet Breakfast for all traveler with good quality..</li>
                                    <li>Buffet Breakfast for all traveler with good quality.</li>
                                </ul>
                            </div>
                            <h2 class="box-title">Basic Information</h2>
                            <p class="blog-text mb-35">voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                explicabo. Dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
                            <div class="destination-checklist mb-50">
                                <div class="checklist style2">
                                    <ul>
                                        <li>Destination</li>
                                        <li>Departure</li>
                                        <li>Language</li>
                                        <li>Reture Date</li>
                                        <li>Departure Date</li>
                                        <li>No. of Guide</li>
                                    </ul>
                                </div>
                                <div class="checklist style2">
                                    <ul>
                                        <li>Netherland</li>
                                        <li>Singapore Airport, Singapore</li>
                                        <li>English</li>
                                        <li>August 12, 2024</li>
                                        <li>Netherland</li>
                                        <li>25 Tour Places</li>
                                        <li>2 Person</li>
                                    </ul>
                                </div>
                            </div>
                          -->   
                        <h4 class="box-title" style="    font-size: 20px;
    font-weight: 900;">Horaires de l'activité</h4>

                        <div class="destination-checklist">
                            <div class="checklist style2 style4">
                                <ul>
                                    <ng-container *ngFor="let hour of activity.hours; let i = index">
                                        <li class="checklist style5" style="font-family: 'Quicksand', sans-serif;;" *ngIf="i < activity.hours.length / 2">
                                            <strong style="font-weight: 500;">{{ translateDayOfWeek(hour.day_of_week) }}:</strong> 
                                            <span *ngIf="hour.is_closed === 1"> Jour non travaillé</span>
                                            <span *ngIf="hour.is_closed !== 1"> {{ hour.opening_time }} - {{ hour.closing_time }}</span>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                            <div class="checklist  style5">
                                <ul>
                                    <ng-container *ngFor="let hour of activity.hours; let i = index">
                                        <li class="checklist style5" style="font-family: 'Quicksand', sans-serif;;" *ngIf="i >= activity.hours.length / 2">
                                            <strong style="font-weight: 500;">{{ translateDayOfWeek(hour.day_of_week) }}:</strong> 
                                            <span *ngIf="hour.is_closed === 1"> Jour non travaillé</span>
                                            <span *ngIf="hour.is_closed !== 1"> {{ hour.opening_time }} - {{ hour.closing_time }}</span>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
<!-- 
                            <h2 class="box-title">Activity Hours</h2>
                            <div class="destination-checklist">
                                <div class="checklist style2">
                                    <ul>
                                        <li *ngFor="let hour of activity.hours">
                                            <strong>{{ translateDayOfWeek(hour.day_of_week) }}:</strong> {{ hour.opening_time }} - {{ hour.closing_time }}
                                        </li>
                                    </ul>
                                </div>
                            </div> -->

                            <h3 class="page-title mt-50 mb-0" style="    font-size: 20px;
    font-weight: 900;" *ngIf="activity.category_id === 3">Notre Menu</h3>
                            <h3 class="page-title mt-50 mb-0" style="    font-size: 20px;
    font-weight: 900;" *ngIf="activity.category_id !== 3">Nos Services</h3>

                            <ul class="nav nav-tabs tour-tab mt-10" role="tablist" style="font-family: 'Quicksand', sans-serif;">
                                <ng-container *ngIf="activity.category_id === 3">
                                    <ng-container *ngFor="let menu of typeMenus; let i = index">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" [class.active]="i === 0" [id]="'day-tab' + (i + 1)"
                                                    data-bs-toggle="tab" [attr.data-bs-target]="'#day-tab' + (i + 1) + '-pane'" type="button" role="tab"
                                                    [attr.aria-controls]="'day-tab' + (i + 1) + '-pane'" [attr.aria-selected]="i === 0">{{ menu.nom }}</button>
                                        </li>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="activity.category_id === 4">
                                    <ng-container *ngFor="let soin of typeSoins; let i = index">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" [class.active]="i === 0" [id]="'day-tab' + (i + 1)"
                                                    data-bs-toggle="tab" [attr.data-bs-target]="'#day-tab' + (i + 1) + '-pane'" type="button" role="tab"
                                                    [attr.aria-controls]="'day-tab' + (i + 1) + '-pane'" [attr.aria-selected]="i === 0">{{ soin.nom }}</button>
                                        </li>
                                    </ng-container>
                                </ng-container>
                                <!-- Add similar blocks for other categories if needed -->
                            </ul>
                            <div class="tab-content" style="font-family: 'Quicksand', sans-serif;">
                                <ng-container *ngIf="activity.category_id === 3">
                                    <ng-container *ngFor="let menu of typeMenus; let i = index">
                                        <div class="tab-pane fade show active" [id]="'day-tab' + (i + 1) + '-pane'" role="tabpanel"
                                            [attr.aria-labelledby]="'day-tab' + (i + 1)" tabindex="0">
                                            <div class="tour-grid-plan">
                                                <div class="pizza-menu">
<!--                                                     <div class="checklist">
                                                        <ul>
                                                            <ng-container *ngFor="let related of activity.related">
                                                                <li *ngIf="related.type_menu_id === menu.id">
                                                                    <img [src]="related.imageplat" alt="{{ related.nom }}" style="width: 100px; height: 100px;">
                                                                    <p>{{ related.nom }} - {{ related.prix }}€</p>
                                                                    <p>{{ related.description }}</p>
                                                                </li>
                                                            </ng-container>
                                                        </ul>
                                                    </div> -->
                                                    <ul class="pizza-list" style="font-family: 'Quicksand', sans-serif;">
                                                      <!-- La Rossa -->
                                                      <ng-container *ngFor="let related of activity.related">
                                                        <li class="pizza-item" *ngIf="related.type_menu_id === menu.id">
                                                            <div class="pizza-image">
                                                              <img [src]="related.imageplat" alt="{{ related.nom }}" class="pizza-img">
                                                            </div>
                                                            <div class="pizza-details">
                                                              <h3 class="pizza-title">{{ related.nom }} </h3>
                                                              <div class="pizza-price">{{ related.prix }} MAD</div>
                                                              <p class="pizza-ingredients">
                                                                {{ related.description }}
                                                              </p>
                                                            </div>
                                                          </li>
                                                        </ng-container>
                                                  
                                                      <!-- Other pizza items follow same structure -->
                                                    </ul>
                                                  </div>
                                                  
                                                  <style>
                                                  .pizza-menu {
                                                    margin: 0 auto;
                                                    font-family: 'Arial', sans-serif;
                                                  }
                                                  
                                                  .pizza-list {
                                                    list-style: none;
                                                    padding: 0;
                                                  }
                                                  
                                                  .pizza-item {
                                                    display: flex;
                                                    margin-bottom: 30px;
                                                    border-bottom: 1px solid #eee;
                                                    padding-bottom: 20px;
                                                  }
                                                  
                                                  .pizza-image {
                                                    flex: 0 0 150px;
                                                    margin-right: 20px;
                                                  }
                                                  
                                                  .pizza-img {
                                                    width: 100px;
                                                    height: 100px;
                                                    border-radius: 8px;
                                                    object-fit: cover;
                                                  }
                                                  
                                                  .pizza-details {
                                                    flex: 1;
                                                  }
                                                  
                                                  .pizza-title {
                                                    margin: 0 0 8px 0;
                                                    color: #333;
                                                    font-size: 1.2em;
                                                  }
                                                  
                                                  .pizza-size {
                                                    font-size: 0.9em;
                                                    color: #666;
                                                    margin-left: 10px;
                                                  }
                                                  
                                                  .pizza-price {
                                                    color: #e74c3c;
                                                    font-weight: bold;
                                                    margin-bottom: 8px;
                                                  }
                                                  
                                                  .pizza-ingredients {
                                                    margin: 0;
                                                    color: #666;
                                                    font-size: 0.9em;
                                                    line-height: 1.4;
                                                    font-style: italic;
                                                  }
                                                  
                                                  /* Add hover effect */
                                                  .pizza-item:hover {
                                                    background-color: #f9f9f9;
                                                    transition: background-color 0.3s ease;
                                                  }

                                                  .pizza-ingredients {
    margin: 0;
    color: #666;
    font-size: 0.9em;
    line-height: 1.4;
     font-style: normal; 
    font-family: 'Font Awesome 6 Brands';
    font-size: 0.9em;
    color: #666;
}
                                                  </style>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="activity.category_id === 4">
                                    <ng-container *ngFor="let soin of typeSoins; let i = index">
                                        <div class="tab-pane fade show active" [id]="'day-tab' + (i + 1) + '-pane'" role="tabpanel"
                                            [attr.aria-labelledby]="'day-tab' + (i + 1)" tabindex="0">
                                            <div class="tour-grid-plan">
                                                <div class="checklist">
                                                    <ul>
                                                    
                                                        <ng-container *ngFor="let related of activity.related">
                                                            <li>
                                                                <img [src]="related.imageplat" alt="{{ related.nom }}" style="width: 100px; height: 100px;">
                                                                <p>{{ related.nom }} - {{ related.prix }}€</p>
                                                                <p>{{ related.description }}</p>
                                                            </li>
                                                        </ng-container>
                                                        <!-- Add more details about the soin if needed -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <!-- Add similar blocks for other categories if needed -->
                            </div>
                            <div class="tour-gallery-wrapper" *ngIf="activity.images.length > 0">
                                <h3 class="page-title mt-50 mb-30" style="    font-size: 20px;
    font-weight: 900;" >Depuis notre galerie</h3>
                                <div class="row gy-4 gallery-row filter-active">
                                    <div class="col-md-6 col-xl-auto filter-item" *ngFor="let image of activity.images; let i = index">
                                        <div class="tour-gallery-card">
                                            <div class="gallery-img global-img"><img [src]="image!.image_url" [alt]="activity!.name"
                                                    alt="gallery image"> <a 
                                                    class="icon-btn popup-image"><i class="fal fa-magnifying-glass-plus"></i></a></div>
                                        </div>
                                    </div>
<!--                                     <div class="location-map">
                                        <h3 class="page-title mt-45 mb-30">Emplacement</h3>

                                        <div class="contact-map style3">
                                            <iframe
                                                [src]="mapUrl"
                                                allowfullscreen="" loading="lazy"></iframe>
                                            <div class="contact-icon"><img src="assets/img/icon/location-dot3.svg" alt=""></div>
                                        </div>
                                    </div> -->

                                    <div class="location-map">
                                        <h3 class="page-title mt-20 mb-30" style="    font-size: 20px;
    font-weight: 900;">Emplacement</h3>

                                        <div class="contact-map style3">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3396.8629000652572!2d-8.012158924383744!3d31.637603974160488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzHCsDM4JzE1LjQiTiA4wrAwMCczNC41Ilc!5e0!3m2!1sfr!2sma!4v1717953427857!5m2!1sfr!2sma"
                                                allowfullscreen="" loading="lazy"></iframe>
                                            <div class="contact-icon"><img src="assets/img/icon/location-dot3.svg" alt=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-lg-5">
                    <aside class="sidebar-area">
<!--                          <div class="widget widget_search">
                            <form class="search-form"><input type="text" placeholder="Search"> <button type="submit"><i
                                        class="far fa-search"></i></button></form>
                        </div> -->
                       <div class="widget tour-booking" style="
                       padding-top: 30px;    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                   ">
                        <h3 class="widget_title" style="font-family: 'Quicksand', sans-serif;">Réserver maintenant</h3>
                        <div class="card">
                            <div class="calendar-toolbar">
                              <button class="prev month-btn">
                                <i class="fas fa-chevron-left"></i>
                              </button>
                              <div class="current-month"></div>
                              <button class="next month-btn">
                                <i class="fas fa-chevron-right"></i>
                              </button>
                            </div>
                            <div class="calendar">
                              <div class="weekdays">
                                <div class="weekday-name">Di</div>
                                <div class="weekday-name">Lu</div>
                                <div class="weekday-name">Ma</div>
                                <div class="weekday-name">Me</div>
                                <div class="weekday-name">Je</div>
                                <div class="weekday-name">Ve</div>
                                <div class="weekday-name">Sa</div>
                              </div>
                              <div class="calendar-days"></div>
                            </div>
                            <div class="time-selection" style="display: flex
                            ;
                                justify-content: center;
                                align-items: center;
                                text-align: center;
                                flex-direction: column;">
                                <label for="calendar-start-time" style="font-family: 'Quicksand', sans-serif !important; margin-top: 0.5rem; font-weight: 700;">Sélectionner une heure:</label>
<!--                                 <p-calendar inputId="calendar-start-time" [ngStyle]="{'width': '150px'}" [(ngModel)]="startTime" [showTime]="true" [timeOnly]="true" name="modalStartTime" [iconDisplay]="'input'" [showIcon]="true" [hourFormat]="'24'" [minDate]="timeRange.min" [maxDate]="timeRange.max"></p-calendar>
 -->                                <p-calendar inputId="calendar-start-time"  [(ngModel)]="startTime" [showTime]="true" [timeOnly]="true" name="modalStartTime" [iconDisplay]="'input'" [showIcon]="true" [hourFormat]="'24'" [minDate]="timeRange.min" [maxDate]="timeRange.max"></p-calendar>

                            </div>
                            <div class="person-selection" style="text-align: center; padding: 10px 20px;">
                                <label for="number-of-people" style="color: rgba(0, 0, 0, 0.87);font-family: 'Quicksand', sans-serif !important; margin-top: 0.5rem; font-weight: 700;">Nombre de personnes:</label>
                                <div class="person-counter" style="display: flex; justify-content: center; align-items: center; ">
                                    <button type="button" (click)="decrementPeople()" style="background: none; border: none; cursor: pointer;">
                                        <i class="fa fa-minus-circle" style="font-size: 24px;    color: #93a692;"></i>
                                    </button>
                                    <input id="number-of-people" type="number" [(ngModel)]="numberOfPeople" style=" text-align: center;" min="1">
                                    <button type="button" (click)="incrementPeople()" style="background: none; border: none; cursor: pointer;">
                                        <i class="fa fa-plus-circle" style="font-size: 24px;    color: #93a692;"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="goto-buttons">
                              <button type="button" class="btn prev-year">Année préc</button>
                              <button type="button" class="btn today">Aujourd'hui</button>
                              <button type="button" class="btn next-year">Année suiv</button>
                            </div>
                          </div>
                          <div style="text-align: end; cursor: pointer;" >
                            <a class="th-btn th-icon" style="margin-top: 1.5rem; margin-bottom: 0px;" (click)="goToFinalisationCommande()">
                                Réserver maintenant
                            </a>
                          </div>

    
                        </div> 

<!--                         <div class="booking-container">
                            <div class="booking-form">
                                <h2>Réserver maintenant</h2>
                                
                                <div class="form-group">
                                    <label>Nom Complet</label>
                                    <input type="text" class="modern-input" placeholder="Jean Dupont">
                                </div>
                        
                                <div class="form-group">
                                    <label>Adresse E-mail</label>
                                    <input type="email" class="modern-input" placeholder="jean.dupont@email.com">
                                </div>
                        
                                <div class="phone-group">
                                    <div class="form-group small">
                                        <label>Indicatif</label>
                                        <select class="modern-input">
                                            <option>+33</option>
                                            <option>+32</option>
                                            <option>+41</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Téléphone</label>
                                        <input type="tel" class="modern-input" placeholder="6 12 34 56 78">
                                    </div>
                                </div>
                        
                                <div class="date-time-group">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input type="date" class="modern-input">
                                    </div>
                                    <div class="form-group">
                                        <label>Heure</label>
                                        <input type="time" class="modern-input">
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label>Horaire retour</label>
                                    <input type="time" class="modern-input">
                                </div>
                        
                                <div class="guests-group">
                                    <div class="form-group">
                                        <label>Adultes</label>
                                        <input type="number" class="modern-input" value="2" min="0">
                                    </div>
                                    <div class="form-group">
                                        <label>Enfants</label>
                                        <input type="number" class="modern-input" value="1" min="0">
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label>Commentaires</label>
                                    <textarea class="modern-input" rows="3"></textarea>
                                </div>
                        
                                <div class="checkbox-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                        Noter votre hôtel gratuit
                                    </label>
                                </div>
                        
                                <a href="contact.html" class="th-btn th-icon">Book Now</a>
                            </div>
                        
                            <div class="booking-summary">
                                <div class="price-badge">
                                    <span>À partir de</span>
                                    <div class="price">$75.00</div>
                                </div>
                        
                                <div class="summary-details">
                                    <div class="detail-item">
                                        <strong>Dates :</strong>
                                        <span>15 juin - 20 juillet 2024</span>
                                    </div>
                                    <div class="detail-item">
                                        <strong>Participants :</strong>
                                        <span>2 adultes - 1 enfant</span>
                                    </div>
                                </div>
                        
                                <div class="reviews">
                                    <span class="heart-icon">♥</span>
                                    88% des voyageurs recommandent cette expérience
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="widget widget_categories">
                            <h3 class="widget_title" style="font-family: 'Quicksand', sans-serif;">Destination populaire</h3>
                            <ul>
                                <li *ngFor="let destination of cities">
                                  <a href="blog.html" style="font-family: 'Quicksand', sans-serif;"><img src="assets/img/theme-img/map.svg" alt="" >{{ destination.name  }}</a>
                                  <!--   <span>(8)</span> -->
                                </li>
      
                            </ul>
                        </div>
                        <div class="widget">
                            <h3 class="widget_title" style="font-family: 'Quicksand', sans-serif;">Activités récentes</h3>

                            <div class="recent-post-wrap">
                                <div class="recent-post" *ngFor="let activity of activities">
                                    <div class="media-img"><a ><img
                                        [src]="activity.logo" [alt]="activity.name"></a></div>
                                    <div class="media-body">
                                        <h4 class="post-title" style="font-family: 'Quicksand', sans-serif;"><a class="text-inherit"
                                            style="font-family: 'Quicksand', sans-serif;">{{ activity.name }} </a></h4>
                                        <div class="recent-post-meta"><a href="blog.html"><i
                                                    class="fa-regular fa-calendar"></i>{{ activity.created_at | date:'dd / MM / yyyy' }}</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_tag_cloud">
                            <h3 class="widget_title" style="font-family: 'Quicksand', sans-serif;">Mots-clés populaires</h3>

                            <div class="tagcloud">
                                <a *ngFor="let tag of popularTags" style="font-family: 'Quicksand', sans-serif;">{{ tag }}</a>
                            </div>
                        </div>

                    </aside>
                </div>
            </div>



        </div>
    </section>

<app-footer></app-footer>
<div class="scroll-top"><svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
        style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
    </path>
</svg></div>
<div id="login-form" class="popup-login-register mfp-hide">
<ul class="nav" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation"><button class="nav-menu" id="pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
            aria-selected="false">Login</button></li>
    <li class="nav-item" role="presentation"><button class="nav-menu active" id="pills-profile-tab"
            data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
            aria-controls="pills-profile" aria-selected="true">Register</button></li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h3 class="box-title mb-30">Sign in to your account</h3>
        <div class="th-login-form">
            <form action="mail.php" method="POST" class="login-form ajax-contact">
                <div class="row">
                    <div class="form-group col-12"><label>Username or email</label> <input type="text"
                            class="form-control" name="email" id="email" required="required"></div>
                    <div class="form-group col-12"><label>Password</label> <input type="password"
                            class="form-control" name="pasword" id="pasword" required="required"></div>
                    <div class="form-btn mb-20 col-12"><button class="th-btn btn-fw th-radius2">Send
                            Message</button></div>
                </div>
                <div id="forgot_url"><a href="my-account.html">Forgot password?</a></div>
                <p class="form-messages mb-0 mt-3"></p>
            </form>
        </div>
    </div>
    <div class="tab-pane fade active show" id="pills-profile" role="tabpanel"
        aria-labelledby="pills-profile-tab">
        <h3 class="th-form-title mb-30">Sign in to your account</h3>
        <form action="mail.php" method="POST" class="login-form ajax-contact">
            <div class="row">
                <div class="form-group col-12"><label>Username*</label> <input type="text" class="form-control"
                        name="usename" id="usename" required="required"></div>
                <div class="form-group col-12"><label>First name*</label> <input type="text"
                        class="form-control" name="firstname" id="firstname" required="required"></div>
                <div class="form-group col-12"><label>Last name*</label> <input type="text" class="form-control"
                        name="lastname" id="lastname" required="required"></div>
                <div class="form-group col-12"><label for="new_email">Your email*</label> <input type="text"
                        class="form-control" name="new_email" id="new_email" required="required"></div>
                <div class="form-group col-12"><label for="new_email_confirm">Confirm email*</label> <input
                        type="text" class="form-control" name="new_email_confirm" id="new_email_confirm"
                        required="required"></div>
                <div class="statement"><span class="register-notes">A password will be emailed to you.</span>
                </div>
                <div class="form-btn mt-20 col-12"><button class="th-btn btn-fw th-radius2">Sign up</button>
                </div>
            </div>
            <p class="form-messages mb-0 mt-3"></p>
        </form>
    </div>
</div>
</div>

<style>
  .non-working-day {
    background-color: #f8d7da;
    color: #721c24;
    cursor: not-allowed;
  }
</style>

<script>
    function translateDayOfWeek(day) {
        const days = {
            'Monday': 'Lundi',
            'Tuesday': 'Mardi',
            'Wednesday': 'Mercredi',
            'Thursday': 'Jeudi',
            'Friday': 'Vendredi',
            'Saturday': 'Samedi',
            'Sunday': 'Dimanche'
        };
        return days[day] || day;
    }
</script>